:root {
  /* colors */
  --dark: #333;

  /* sizing */
  --outer-y-padding: 15vmin;
  --outer-x-padding: 8vmin;
  --pad-gutter: 8vmin;
  --pad-min-size: 100px;
  --pad-max-size: 1fr;
  --pad-size: minmax(var(--pad-min-size), var(--pad-max-size));

  --button-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--dark);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.start-audio {
  padding: 5px;
  background-color: lightgrey;
  margin: 10px;
  box-shadow: var(--button-shadow);
}

.audio-input-meter {
  display: block;
  height: 20px;
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(
    to right,
    rgba(4,212,47,1) 0%,
    rgba(4,212,47,1) var(--volume-level, 0%),
    rgba(4,212,47,0) var(--volume-level, 0%)
  );
}

.pad-grid {
  height: calc(100vh - var(--outer-y-padding));
  padding: var(--outer-y-padding) var(--outer-x-padding);
  display: grid;
  grid-gap: var(--pad-gutter);
  align-items: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, var(--pad-size));
  grid-auto-rows: auto;
}

.pad-wrapper {
  position: relative;
  padding-top: 100%;
}

.pad {
  aspect-ratio: 1;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: cadetblue;
  box-shadow: var(--button-shadow);
}

.pad:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
}

.pad.record {
  background-color: darkred;
}

.pad.record:active {
  background-color: red;
}
